<div class="article">
  <% if article.date %>
    <span class="date right"><%= article.date.formatted %></span>
  <% end %>
  <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
  <div class="body">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <% if article.summary.length != article.body.length %>
      <% end %>
    <% else %>
      <%= article.body.formatted %>
      <% if article.instance_of?(Serious::Article) %>
        <%= render_partial :disqus if Serious.disqus %>
      <% end %>
    <% end %>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="arvid_a">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
</div>
