<div class="article">
  <% if article.date %>
    <span class="date"><%= article.date.formatted %></span>
  <% end %>
  <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
  <div class="body">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <% if article.summary.length != article.body.length %>
      <% end %>
    <% else %>
      <%= article.body.formatted %>
      <div id="share">
        <div class="service">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= article.title %> - " data-via="arvid_a" data-related="arvid_a">Tweet</a>
      </div>
      <div class="service">
        <g:plusone size="medium" annotation="none"></g:plusone>
      </div>
        <div class="service" id="reddit">
        <script type="text/javascript">
          reddit_url = "http://blog.arvidandersson.se<%= article.url %>";
          reddit_css ="margin-top: 4px;"
        </script>
        <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
        </div>
      </div>
      <% if article.instance_of?(Serious::Article) %>
        <%= render_partial :disqus if Serious.disqus %>
      <% end %>
    <% end %>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
   })();
</script>
