<div class="article">
  <% if article.date %>
    <span class="date right"><%= article.date.formatted %></span>
  <% end %>
  <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
  <div class="body">
    <% if summary_only %>
      <%= article.summary.formatted %>
      <% if article.summary.length != article.body.length %>
      <% end %>
    <% else %>
      <%= article.body.formatted %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="arvid_a">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      <g:plusone size="medium" annotation="none"></g:plusone>
      <% if article.instance_of?(Serious::Article) %>
        <%= render_partial :disqus if Serious.disqus %>
      <% end %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
   })();
</script>
