<ul id="articles">
  <% @recent.each do |article| %>
    <li>
      <% if article.date %>
        <span class="date right"><%= article.date.formatted %></span>
      <% end %>
      <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    </li>
  <% end %>
</ul>
<% if @archived.any? %>
<h3><a href="/archives">Older posts</a></h3>
<%= render_archived @archived %>
<% end %>
<% if Serious::Page.all.any? %>
<h3><a href="/pages">Pages</a></h3>
<%= render_archived Serious::Page.all %>
<% end %>
