<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <link rel="alternate" type="application/atom+xml" title="Random notes by Arvid Andersson" href="<%= Serious.feed_url %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="hSpvUvfiI4gbjIkE-nZd8otj75nYYr3bjL0kiNH1osg" />
    <title><%= @article ? @article.title + " - Random notes by Arvid Andersson" : Serious.title %></title>
    <% if @article %><meta name="title" content="<%= @article.title %>"><% end %>
  </head>
  <body>
    <div id="header">
      <h1><a href="/"><%= Serious.title %></a></h1>
      <span>
        <a href="http://arvidandersson.se">about me</a>
        <a href="http://twitter.com/#!/arvid_a">@arvid_a</a>
        <a href="/atom.xml">rss</a>
      </span>
    </div>
    <div id="container">
      <%= yield.force_utf8 %>
    </div>
    <div id="footer">
      <p> This blog is <a href="http://github.com/colszowka/serious">serious</a>.</p>
    </div>
    <%= render_partial :google_analytics if Serious.google_analytics %>
  </body>
</html>
